.main_header
  .main_header__wrapper
    .main_header__wrapper__left
      .main_header__wrapper__left__logo
        %p 
          iDear
    .main_header__wrapper__right
      -# .main_header__wrapper__right__link
      -#   %p ログイン
      .main_header__wrapper__right__user
        .main_header__wrapper__right__user__name
          %p 
            = @user.username
        .main_header__wrapper__right__user__image
          = image_tag "header/user_image.png"